.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.btn {
  text-decoration: none;
  display: flex;
  width: 65px;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 200px;
  background: var(--Button, #e44848);
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  transition: background 0.3s ease-in-out;
}

.loaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contInfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
